# Compilados Java
*.class

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo

# Diretórios de build
target/
build/
out/

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db